<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VISUALIZATION</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/algorithm.css" />
    <script src="../static/js/home.css" defer></script>
    <!-- Google Font: Montserrat for logo text -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="tool1">
      <div class="frame-logo1">
        <span class="secondtext-tool1">KaTiLa</span>
        <span class="maintext-tool1">VISUALIZATION</span>
      </div>

      <nav class="menu">
        <ul>
          <li><a href="../indexhome.html">Home</a></li>
          <li><a href="#">Community</a></li>
          <li class="dropdown">
            <a href="#">Algorithms ▼</a>
            <div class="dropdown-content algo_name">
              <a href="Algorithm/overview.html?algo=bfs">BFS</a>
              <a href="Algorithm/overview.html?algo=dfs">DFS</a>
              <a href="Algorithm/overview.html?algo=dijkstra">Dijkstra</a>
              <a href="Algorithm/overview.html?algo=astar">A*</a>
              <a href="Algorithm/overview.html?algo=fc">Forward Chaining</a>
              <a href="Algorithm/overview.html?algo=minimax">Mini Max</a>
              <a href="Algorithm/overview.html?algo=ffill">Flood Fill</a>
            </div>
          </li>
          <li><a href="#">History</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Member</a></li>
        </ul>
      </nav>

      <div class="frame-icon">
        <span class="menu_icon">&#9776;</span>
      </div>
    </header>

    <header class="container">
      <a href="Algorithm/overview.html?algo=bfs" class="box"
        ><span>BFS - Breadth-first search</span></a
      >
      <a href="Algorithm/overview.html?algo=dfs" class="box"
        ><span>DFS - Depth-First Search</span></a
      >
      <a href="Algorithm/overview.html?algo=astar" class="box"
        ><span>A* Search Algorithm</span></a
      >
      <a href="Algorithm/overview.html?algo=minimax" class="box"
        ><span>Minimax</span></a
      >
      <a href="Algorithm/overview.html?algo=fc" class="box"
        ><span>Forward Chaining</span></a
      >
      <a href="Algorithm/overview.html?algo=dijkstra" class="box"
        ><span>Dijkstra</span></a
      >
      <a href="Algorithm/overview.html?algo=ffill" class="box"
        ><span>Flood Fill</span></a
      >
      <a href="Algorithm/coming_soon.html" class="box"
        ><span>Graph Coloring</span></a
      >
      <a href="Algorithm/coming_soon.html" class="box"
        ><span>K-means clustering</span></a
      >
      <a href="Algorithm/coming_soon.html" class="box"
        ><span>Hill climbing</span></a
      >
      <a href="Algorithm/coming_soon.html" class="box"
        ><span>Genetic algorithm</span></a
      >
      <a href="Algorithm/coming_soon.html" class="box"
        ><span>Simulated annealing</span></a
      >
    </header>
  </body>
</html>
