<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VISUALIZATION</title>
    <link rel="stylesheet" href="../static/css/home.css" />
    <script src="../static/js/home.css" defer></script>
    <!-- Google Font: Montserrat for logo text -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="tool1">
      <div class="frame-logo1">
        <span class="secondtext-tool1">KaTiLa</span>
        <span class="maintext-tool1">VISUALIZATION</span>
      </div>

      <nav class="menu">
        <a href="#">Home</a>
        <a href="#">Community</a>
        <a href="#">Algorithms</a>
        <a href="#">History</a>
        <a href="#">Docs</a>
        <a href="#">Member</a>
      </nav>

      <div class="frame-icon">
        <span class="menu_icon">&#9776;</span>
      </div>
    </header>

    <header class="container">
      <a href="Algorithm/overview.html?algo=bfs" class="box"
        ><span>BFS - Breadth-first search</span></a
      >
      <a href="Algorithm/overview.html?algo=dfs" class="box"
        ><span>DFS - Depth-First Search</span></a
      >
      <a href="Algorithm/overview.html?algo=astar" class="box"
        ><span>A* Search Algorithm</span></a
      >
      <a href="Algorithm/overview.html?algo=minimax" class="box"
        ><span>Minimax</span></a
      >
      <a href="Algorithm/overview.html?algo=fc" class="box"
        ><span>Forward Chaining</span></a
      >
      <a href="Algorithm/overview.html?algo=dijkstra" class="box"
        ><span>Dijkstra</span></a
      >
      <a href="Algorithm/overview.html?algo=floodfill" class="box"
        ><span>Flood Fill</span></a
      >
      <a href="Algorithm/overview.html?algo=graphcoloring" class="box"
        ><span>Graph Coloring</span></a
      >
      <a href="Algorithm/overview.html?algo=bubblesort" class="box"
        ><span>Bubble Sort</span></a
      >
      <a href="Algorithm/overview.html?algo=kruskal" class="box"
        ><span>Kruskal</span></a
      >
      <a href="Algorithm/overview.html?algo=prim" class="box"
        ><span>Prim</span></a
      >
      <a href="Algorithm/overview.html?algo=hashing" class="box"
        ><span>Hashing</span></a
      >
    </header>
  </body>
</html>
