<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Maze Solver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/frameal.css" />
    <link rel="stylesheet" href="../static/css/algorithm.css" />
    <link rel="stylesheet" href="../static/css/minimax.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="tool1">
      <div class="frame-logo1">
        <span class="secondtext-tool1">KaTiLa</span>
        <span class="maintext-tool1">VISUALIZATION</span>
      </div>

      <nav class="menu">
        <ul>
          <li><a href="indexhome.html">Home</a></li>
          <li><a href="#">Community</a></li>
          <li class="dropdown">
            <a href="#">Algorithms ▼</a>
            <div class="dropdown-content">
              <a href="Algorithm/overview.html?algo=bfs">BFS</a>
              <a href="Algorithm/overview.html?algo=dfs">DFS</a>
              <a href="Algorithm/overview.html?algo=dijkstra">Dijkstra</a>
              <a href="Algorithm/overview.html?algo=astar">A*</a>
              <a href="Algorithm/overview.html?algo=forward_chaining"
                >Forward Chaining</a
              >
              <a href="Algorithm/overview.html?algo=minimax">Mini Max</a>
              <a href="Algorithm/overview.html?algo=ffill">Flood Fill</a>
            </div>
          </li>
          <li><a href="#">History</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Member</a></li>
        </ul>
      </nav>

      <div class="frame-icon">
        <span class="menu_icon">&#9776;</span>
      </div>
    </header>

    <header class="tool2">
      <a id="overview-tab" class="overview active"><span>Overview</span></a>
      <a id="theory-tab" class="theory"><span>Theory</span></a>
      <a id="simulation-tab" class="simulation"><span>Simulation</span></a>
      <a id="stepbystep-tab" class="stepbystep"><span>Step by Step</span></a>
      <a id="quiz-tab" class="quiz"><span>Quiz</span></a>
    </header>
    <div class="frame_al">
      <h2 style="text-align: center">Maze Solver</h2>

      <div class="frame-wrapper">
        <div class="left">
  <h3>Tic Tac Toe</h3>
  <div id="board" class="board"></div>
  <div class="controls">
    <button id="resetBtn">Reset</button>
    <button id="genBtn">Random Board</button>
  </div>
  <p id="status"></p>
</div>

<div class="right">
  <h3>Minimax Tree</h3>
  <div id="treeContainer" style="width:100%; height:480px; overflow:auto; background:#fff;">
    <svg id="treeSvg" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>
</div>
      </div>
     
    </div>
  </body>
  <script src="/static/js/minimax.js"></script>
</html>
